<div class="main-content ">
    <div class="row" fxLayout="row" fxLayoutGap="20px">
        <div *ngFor="let pair of pairs; let i = index" 
        class=" card card-stats col-lg-3 col-md-4 col-sm-2"
        >
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">looks_two</i>
                </div>
                <p class="card-category">Compatibilidad <br> <small> de 0 a 100 </small></p>

                <h6 class="card-title">
                    <p> {{pair.compatibility}} </p>
                </h6>
            </div>
            <div class="card-body"
            >
                <p *ngIf="pair.nombre"> {{pair.nombre}}</p>
                <p *ngIf="!pair.nombre"> Pareja {{" " + pair.id}}</p>




                <p 
                draggable
                droppable 
                (onDrop)="onItemDrop($event)"
                (onDragLeave)="setIndexSourceDeveloper(0, i)"
                [dragData]="pair.developer1"
                (onDragOver)="setIndexObjectiveDeveloper(0, i)"> {{pair.developer1.full_name}}</p>
                <mat-divider></mat-divider>

                <p 
                draggable
                droppable
                (onDrop)="onItemDrop($event)"
                [dragData]="pair.developer2"
                (onDragLeave)="setIndexSourceDeveloper(1, i)"
                (onDragOver)="setIndexObjectiveDeveloper(1, i)">{{pair.developer2.full_name}}</p>
            </div>
        </div>
    </div>
</div>