<div  *ngIf="userStory" class="card card-stats">
    <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
            <i class="material-icons">bookmark</i>
        </div>
        <p class="card-category">Puntos de historia</p>
        <h3 class="card-title">
        <p *ngIf = "userStory.points; else noPointsBlock"> {{userStory.points}} </p>
        <ng-template #noPointsBlock><i (click)="openEditPointsDialog()" class="material-icons">add_circle</i></ng-template>
        </h3>
    </div>
   <div class="card-body">
            <h3>Titulo</h3>
           <p> {{userStory.subject}}</p>
    </div>
    <div *ngIf = "userStory.points" class="card-footer">
            <div (click)="openEditPointsDialog()" class="stats">
                <i  class="material-icons ">edit</i>
                <a> Editar puntuación </a>
            </div>
    </div>

</div>
