<div  *ngIf="userStory" class="card card-stats">
    <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
            <i class="material-icons">bookmark</i>
        </div>
        <p class="card-category">Puntos</p>
        <h6 class="card-title">
        <p *ngIf = "userStory.total_points; else noPointsBlock"> {{userStory.total_points}} </p>
        <ng-template #noPointsBlock><i (click)="openEditPointsDialog()" class="material-icons">add_circle</i></ng-template>
        </h6>
    </div>
   <div class="card-body">
           <p> {{userStory.subject}}</p>
    </div>
    <div *ngIf = "userStory.total_points" class="card-footer">
            <div (click)="openEditPointsDialog()" class="stats">
                <i  class="material-icons ">edit</i>
                <a> Editar puntuación </a>
            </div>
    </div>

</div>
