<h1 *ngIf="data.points; else noStoryPoints" mat-dialog-title>Editar puntos de historia</h1>
<ng-template #noStoryPoints><h1 mat-dialog-title>Adicionar puntos de historia</h1> </ng-template>
<div mat-dialog-content>
  <p>Ingrese los puntos de historia</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.points">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.points" cdkFocusInitial>Ok</button>
</div>