<div class="main-content">
  <div fxLayout="column">
  </div>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let pair of assignment.pairs" (click)="selectedPair = pair">
      <mat-expansion-panel-header >
        <mat-panel-title>
          <p>{{pair.joinedName}}</p>
        </mat-panel-title>
        <mat-panel-description>
          <p *ngIf="(assignment.userStories | assignedToPair : pair).length > 0 ; else no_stories_assigned"> Historias asignadas a  {{pair.joinedName}}</p>
          <ng-template #no_stories_assigned>
            <p>No se han asignado historias</p>
          </ng-template>
        </mat-panel-description>
      </mat-expansion-panel-header>
          <div class="user-story-assignment"  *ngFor="let userStory of assignment.userStories | assignedToPair : pair" (click)="selecteduserStory = userStory" fxLayout="column">
            <div fxLayout="row">
              <p class="user_story_reference" *ngIf="userStory.reference"> #{{userStory.reference}} </p>
              <p >{{userStory.subject}} </p>
              <span class="spacer"></span>
              <mat-icon (click)="openSelectPair(userStory)" matTooltip="Reasignar" matTooltipPosition="above" class="left-icon">settings_backup_restore</mat-icon>
            </div>
            <div fxLayout="row">
              <!----app-developer-compatibility-with-user-story  *ngIf="assignmentByPunctuation" [developer]="developer" [userStory]="userStory">
              </app-developer-compatibility-with-user-story-->
            </div>
            <mat-divider class="margin-top-20"></mat-divider>
          </div>
    </mat-expansion-panel>
    <button mat-button (click)="saveUserStories()"> Guardar asignación</button>
  </mat-accordion>
</div>