<div class="main-content">
    <h3>Puedes arrastrar y soltar historias de usuario para cambiar de grupo</h3>
    <div class="row">
        <div class="col-sm-3" *ngFor="let group of groups">
            <div class="panel panel-default" (onDragLeave)="setObjectiveGroup(group)" (mouseover)="setSourceGroup(group)" droppable
                (onDrop)="onItemDrop($event)">
                <div class="panel-heading">{{group.name}}</div>
                <div class="panel-body">
                    <app-userstory-detail *ngFor="let userstory of group.user_stories" [userStory]="userstory" draggable [dragData]="userstory"
                        class="list-group-item"></app-userstory-detail>
                </div>
            </div>
        </div>
    </div>
</div>