<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">Lista de desarrolladores</h4>
        <p class="card-category">
            Debe asignar las horas disponibles de todos y cada uno de los desarrolladores
        </p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table mat-table [dataSource]="developers">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> <b>Nombre </b></th>
                    <td mat-cell *matCellDef="let developer"> {{developer.full_name}} </td>
                </ng-container>
                <ng-container matColumnDef="punctuations">
                    <th mat-header-cell *matHeaderCellDef>
                        <b>{{developer_punctuations? 'Puntos por habilidad': 'Horas disponibles a la semana'}}</b>
                    </th>
                    <td mat-cell *matCellDef="let developer">
                        <app-developer-punctuations *ngIf="developer_punctuations; else available_hours"
                            [developer]="developer"></app-developer-punctuations>
                        <ng-template #available_hours>
                            <div *ngIf="developer.available_hours_per_week; else noAvailableHoursBlock" fxLayout="row"
                                fxLayoutAlign="center center">
                                <p>
                                    {{developer.available_hours_per_week}}
                                </p>
                                <button mat-icon-button (click)="openEditAvailableHoursPerWeekDialog(developer)"
                                    matTooltip="Editar horas disponibles" [matTooltipPosition]="'above'">
                                    <mat-icon *ngIf="developer.available_hours_per_week" aria-label="Add points">edit
                                    </mat-icon>
                                </button>
                            </div>
                            <ng-template #noAvailableHoursBlock>
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <button mat-icon-button matTooltip="Adicionar horas disponibles"
                                        [matTooltipPosition]="'above'"
                                        (click)="openEditAvailableHoursPerWeekDialog(developer)">
                                        <mat-icon aria-label="Add points">add_circle</mat-icon>
                                    </button>
                                </div>
                            </ng-template>

                        </ng-template>

                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>