<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">Lista de desarrolladores</h4>
        <p class="card-category">
            Debe asignar las horas disponibles de todos y cada uno de los desarrolladores
        </p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                    <th>
                        Nombre
                    </th>
                    <th>
                        Horas disponibles a la semana
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let developer of developers">
                        <td>
                            {{developer.full_name}}
                        </td>
                        <td>
                            <app-developer-punctuations  *ngIf="developer_punctuations; else available_hours" [developer]="developer"></app-developer-punctuations>
                            <ng-template #available_hours>
                                <p *ngIf="developer.available_hours_per_week; else noAvailableHoursBlock"> {{developer.available_hours_per_week}}
                                    <button mat-raised-button type="button" matTooltip="Editar horas disponibles" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i *ngIf="developer.available_hours_per_week" (click)="openEditAvailableHoursPerWeekDialog(developer)" class="material-icons small ">edit</i>
                                    </button>
                                </p>
                                <ng-template #noAvailableHoursBlock>
                                    <button mat-raised-button type="button" matTooltip="Adicionar horas disponibles" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i (click)="openEditAvailableHoursPerWeekDialog(developer)" class="material-icons">add_circle</i>
                                    </button>
                                </ng-template>
                            </ng-template>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>