.user_story_reference {
    margin-right: 10px;
}
.mat-list-item-content {
    width: 100% !important; 
}
.mat-progress-spinner {
    margin-left: 10px;
}
.spacer {
    flex: 1 1 auto;
}
.user-story-assignment {
    margin-top: 20px;
}
