<div  class="main-content">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor = "let simpleDeveloperUserStoriesAssigned of simpleAssignment.simpleDeveloperUserStoriesAssigned" (click)="selectedDeveloper = simpleDeveloperUserStoriesAssigned.developer" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{simpleDeveloperUserStoriesAssigned.developer.full_name}} 
          <mat-progress-spinner 
          [diameter]="20" 
          [strokeWidth] = "3" 
          [mode]="'determinate'" 
          [color]="
          simpleDeveloperUserStoriesAssigned.developer.percentage_time_used > 70? 
          (simpleDeveloperUserStoriesAssigned.developer.percentage_time_used > 85? 'warn': 'accent') 
          : default" 
          [value]="simpleDeveloperUserStoriesAssigned.developer.percentage_time_used" >
        </mat-progress-spinner>
        </mat-panel-title>
        <mat-panel-description>
          Historias asignadas a  {{simpleDeveloperUserStoriesAssigned.developer.full_name | firstWord}}
                 
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item  *ngFor="let userStory of simpleDeveloperUserStoriesAssigned.userStories" 
        (click)="selecteduserStory = userStory">
          
           <p class = "user_story_reference" *ngIf= "userStory.reference"> #{{userStory.reference}} </p> <p>{{userStory.subject}} </p>
           <mat-icon (click) = "openSelectDevelopers(userStory, developers)" matTooltip="Reasignar" matTooltipPosition="above" class= "left-icon" >settings_backup_restore</mat-icon>
           
          </mat-list-item>
          
       </mat-list>
    </mat-expansion-panel>

  </mat-accordion>
</div>