<div  class="main-content">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor = "let simpleDeveloperUserStoriesAssigned of simpleAssignment.simpleDeveloperUserStoriesAssigned">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{simpleDeveloperUserStoriesAssigned.developer.full_name}}
        </mat-panel-title>
        <mat-panel-description>
          Historias asignadas a  {{simpleDeveloperUserStoriesAssigned.developer.full_name | firstWord}}
                 
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item  *ngFor="let userStory of simpleDeveloperUserStoriesAssigned.userStories" 
        (click)="changeSelectedUserStory(userStory)">
          
           <p class = "user_story_reference" *ngIf= "userStory.reference"> #{{userStory.reference}} </p> <p>{{userStory.subject}} </p>
           <mat-icon (click) = "openSelectDevelopers(userStory, developers)" matTooltip="Reasignar" matTooltipPosition="above" class= "left-icon" >settings_backup_restore</mat-icon>
           
          </mat-list-item>
          
       </mat-list>
    </mat-expansion-panel>

  </mat-accordion>
</div>