<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <app-navbar></app-navbar>
    <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
               <app-sidenav-links></app-sidenav-links>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content >
            <mat-progress-bar mode="determinate" [value]="loader.progress$|async"></mat-progress-bar>
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>