i {
    cursor: pointer;
    margin-left: 8px;
}

.table-stories td .mat-form-field {
    @media screen and (max-width: 1080px){
    width: 40px;
    }
.story-title {
    text-align: justify;
    padding-right: 10px;
}
}