
<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">Lista de historias de usuario</h4>
        <p class="card-category">Debe configurar todos los puntos de historia antes de avanzar</p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-stories">
                <thead class=" text-primary">
                    <th>
                        Título
                    </th>
                    <th>
                        Puntos
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let simpleUserStory of simpleUserStories; let i=index">
                        <td>
                            <p class="sotry-title">
                            {{simpleUserStory.subject}}
                            </p>
                        </td>
                        <td>
                       <!--     <p *ngIf = "simpleUserStory.points; else noPointsBlock"> {{simpleUserStory.points}}                                
                            <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <i *ngIf = "simpleUserStory.points" (click)="openEditPointsDialog(simpleUserStory)"  class="material-icons small ">edit</i>
                            </button> 
                            </p>
                            <ng-template #noPointsBlock>
                            <button (click)="openEditPointsDialog(simpleUserStory)" type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task">
                             <i class="material-icons">add_circle</i>
                                </button>
                            
                            </ng-template>  
                        -->
                        <mat-form-field>
                            <input matInput  #Name="ngModel" type="number" [(ngModel)]="simpleUserStory.points">
                        </mat-form-field>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
