<div  class="main-content">

<mat-horizontal-stepper  *ngIf="simpleProjects"  linear="true" #stepper>
  <mat-step [stepControl]="formSelectProject">
    <form  [formGroup]="formSelectProject">
      <ng-template matStepLabel>Seleccione el proyecto</ng-template>
      <mat-form-field>
    <mat-select  [(ngModel)]="selectedSimpleProject" 
    placeholder="Proyecto"
       [formControl]="formSelectProject.controls['projectContrl']" required >

      <mat-option   *ngFor="let simpleProject of simpleProjects" [value]="simpleProject">
        {{ simpleProject.name }}
      </mat-option>
    </mat-select>  
      <mat-error *ngIf="formSelectProject.controls['projectContrl'].hasError('required')">Por favor, seleccione un proyecto</mat-error>
    </mat-form-field>    
      <div>
        <button (click)="selectedSimpleProject? initSimpleSprints(selectedSimpleProject.id) : null" mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="formSelectSprint">
       <form  [formGroup]="formSelectSprint">
      <ng-template matStepLabel>Seleccione el sprint</ng-template>
      <mat-form-field>
    <mat-select  [(ngModel)]="selectedSimpleSprint" 
    placeholder="Sprint"
       [formControl]="formSelectSprint.controls['sprintCntrl']" required >

      <mat-option   *ngFor="let simpleSprint of simpleSprints" [value]="simpleSprint">
        {{ simpleSprint.name }}
      </mat-option>
    </mat-select>  
      <mat-error *ngIf="formSelectSprint.controls['sprintCntrl'].hasError('required')">Por favor, seleccione un sprint</mat-error>
    </mat-form-field>    
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button (click)="initSimpleDevelopers(selectedSimpleProject.id)" mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Completar info. historias</ng-template>
    <app-simple-user-story-list-one-line *ngIf="selectedSimpleSprint" [simpleUserStories] = "selectedSimpleSprint.user_stories"> 
    </app-simple-user-story-list-one-line>
      <div>
         <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>

      </div>
  </mat-step>
  <mat-step>
  <ng-template matStepLabel>Completar info. desarrolladores</ng-template>
       <app-simple-developer-list-one-line *ngIf="simpleDevelopers" [simpleDevelopers] = "simpleDevelopers">
       </app-simple-developer-list-one-line> 
      <div>
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button matStepperNext>Siguiente</button>
      </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>


</mat-horizontal-stepper>


</div>
