<div class="main-content">
  <mat-vertical-stepper *ngIf="projects && !assignmentOutput" linear="true" #stepper>
    <mat-step>
      <ng-template matStepLabel>Tipo de asignacion</ng-template>
      <form [formGroup]="assignment_type_form">
        <mat-checkbox formControlName="assign_type_cntrl" required>
          Parejas incompatibles?
        </mat-checkbox>
        <br />
        <small>
          * Asignar parejas de desarrolladores cuyas habilidades son lo más distintas posibles, de tal forma que se
          compementan
        </small>
      </form>
      <button mat-button matStepperNext>Siguiente</button>
    </mat-step>

    <mat-step [stepControl]="formSelectProject">
      <form [formGroup]="formSelectProject">
        <ng-template matStepLabel>Seleccione el proyecto</ng-template>
        <mat-form-field>
          <mat-select placeholder="Proyecto" [formControl]="formSelectProject.get('project')" required>
            <mat-option *ngFor="let project of projects" [value]="project">
              {{ project.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formSelectProject.get('project').hasError('required')">Por favor, seleccione un
            proyecto</mat-error>
        </mat-form-field>
        <div>
          <button (click)="project? initSprints(project.id) : null" mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="formSelectSprint">
      <form [formGroup]="formSelectSprint">
        <ng-template matStepLabel>Seleccione el sprint</ng-template>
        <mat-form-field>
          <mat-select [placeholder]="sprints.length > 0 ? 'Sprint' : 'No hay sprints'"
            [formControl]="formSelectSprint.controls['sprint']" required>

            <mat-option *ngFor="let sprint of sprints" [value]="sprint">
              {{ sprint.name + ' Desde ' + (sprint.estimated_start | date) + ' hasta ' +
              (sprint.estimated_finish | date) }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formSelectSprint.get('sprint').hasError('required')">
            Por favor, seleccione un sprint
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Atrás</button>
          <button (click)="initDevelopers(project.id)" mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Completar o modificar historias</ng-template>
      <app-user-story-list-one-line fxLayout="row" fxLayoutAlign="center center" *ngIf="sprint"
        [includePunctuations]="true" [userStories]="sprint.user_stories">
      </app-user-story-list-one-line>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>

      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Completar o modificar desarrolladores</ng-template>
      <app-developer-list-one-line fxLayout="row" fxLayoutAlign="center center" *ngIf="developers"
        [developer_punctuations]="true" [developers]="developers">
      </app-developer-list-one-line>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext (click)="getPairs()"> Siguiente</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Editar parejas</ng-template>
      <app-developer-pair *ngIf="developerPairs; else gettingPairs" [pairs]="developerPairs"></app-developer-pair>
      <ng-template #gettingPairs>
        <p>Cargando parejas generadas...</p>
      </ng-template>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Terminado</ng-template>
      Todos los datos han sido completados.
      <div>
        <button mat-button (click)="getAssignment()">Generar asignación?</button>
        <button mat-button (click)="stepper.reset()">Reiniciar</button>
      </div>
    </mat-step>


  </mat-vertical-stepper>
  <app-assignment-detail-pair *ngIf="assignmentOutput" [assignment]="assignmentOutput"></app-assignment-detail-pair>


</div>