<div  class="main-content">
  <div class="card card-profile">
    <div class="card-avatar">
      <div [style.background]="simpleDeveloper.color" class="simple-color-avatar"> </div>
    </div>
    <div class="card-body">
      <h6 class="card-category text-gray"> {{simpleDeveloper.role_name}}</h6>
      <h4 class="card-title">{{simpleDeveloper.full_name}}</h4>
      <div class="card-description">
      Horas disponibles a la semana
        <p *ngIf = "simpleDeveloper.available_hours_per_week; else noHoursInit"> {{simpleDeveloper.available_hours_per_week}} </p>
        <ng-template #noHoursInit><i class="material-icons">add_circle</i></ng-template>
      </div>
      <button *ngIf = "!simpleDeveloper.available_hours_per_week" mat-button>Editar horas disponibles</button>
    </div>
  </div>
</div>