<div class="main-content">
  <mat-vertical-stepper  *ngIf="simpleProjects && !assignmentOutput" linear="true" #stepper>
    <mat-step [stepControl]="formSelectProject">
      <form [formGroup]="formSelectProject">
        <ng-template matStepLabel>Seleccione el proyecto</ng-template>
        <mat-form-field>
          <mat-select
          [(ngModel)]="selectedSimpleProject"
          placeholder="Proyecto"
          [formControl]="formSelectProject.controls['projectContrl']"
            required>
            <mat-option
            *ngFor="let simpleProject of simpleProjects"
            [value]="simpleProject">
              {{ simpleProject.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formSelectProject.controls['projectContrl'].hasError('required')">Por favor, seleccione un proyecto</mat-error>
        </mat-form-field>
        <div>
          <button (click)="selectedSimpleProject? initSimpleSprints(selectedSimpleProject.id) : null" mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="formSelectSprint">
      <form [formGroup]="formSelectSprint">
        <ng-template matStepLabel>Seleccione el sprint</ng-template>
        <mat-form-field>
          <mat-select
          [(ngModel)]="selectedSimpleSprint"
          [placeholder]="sprints.length > 0 ? 'Sprint' : 'No hay sprints'"
          [formControl]="formSelectSprint.controls['sprintCntrl']"
          required>

            <mat-option *ngFor="let simpleSprint of sprints" [value]="simpleSprint">
              {{ simpleSprint.name + ' Desde ' + (simpleSprint.estimated_start | date) + ' hasta ' + (simpleSprint.estimated_finish | date) }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formSelectSprint.controls['sprintCntrl'].hasError('required')">
            Por favor, seleccione un sprint
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Atrás</button>
          <button (click)="initSimpleDevelopers(selectedSimpleProject.id)" mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Completar o modificar historias</ng-template>
      <app-user-story-list-one-line *ngIf="selectedSimpleSprint" [includePunctuations]="true"  [userStories]="selectedSimpleSprint.user_stories">
      </app-user-story-list-one-line>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>

      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Completar o modificar desarrolladores</ng-template>
      <app-developer-list-one-line *ngIf="developers" [developer_punctuations]="true" [developers]="developers">
      </app-developer-list-one-line>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Terminado</ng-template>
      Todos los datos han sido completados.
      <div>
        <button mat-button (click)="getSimpleAssignment()">Generar asignación?</button>
        <button mat-button (click)="stepper.reset()">Reiniciar</button>
      </div>
    </mat-step>


  </mat-vertical-stepper>
  <app-assignment-detail-read-only *ngIf = "assignmentOutput" [assignment]="assignmentOutput"></app-assignment-detail-read-only>


</div>
