
<div class="main-content">
  <mat-vertical-stepper  *ngIf="projects && !assignmentOutput" linear="true" #stepper>
    <mat-step [stepControl]="formSelectProject">
      <form [formGroup]="formSelectProject">
        <ng-template matStepLabel>Seleccione el proyecto</ng-template>
        <mat-form-field class="full-width-component">
          <mat-select
          placeholder="Proyecto"
          [formControl]="formSelectProject.controls['project']"
            required>
            <mat-option
            *ngFor="let project of projects"
            [value]="project">
              {{ project.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formSelectProject.get('project').hasError('required')">Por favor, seleccione un proyecto</mat-error>
        </mat-form-field>
        <div>
          <button (click)="selectedProject? initSimpleSprints(selectedProject.id) : null" mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="formSelectSprint">
      <form [formGroup]="formSelectSprint">
        <ng-template matStepLabel>Seleccione el sprint</ng-template>
        <mat-form-field>
          <mat-select
          [placeholder]="sprints.length > 0 ? 'Sprint' : 'No hay sprints'"
          [formControl]="formSelectSprint.get('sprint')"
          required>

            <mat-option *ngFor="let simpleSprint of sprints" [value]="simpleSprint">
              {{ simpleSprint.name + ' Desde ' + (simpleSprint.estimated_start | date) + ' hasta ' + (simpleSprint.estimated_finish | date) }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formSelectSprint.get('sprint').hasError('required')">
            Por favor, seleccione un sprint
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Atrás</button>
          <button (click)="initSimpleDevelopers(selectedProject.id)" mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Completar o modificar historias</ng-template>
      <app-user-story-list-one-line *ngIf="selectedSprint" [includePunctuations]="assignType === assignTypeByPunctuations || assignType === assignTypeByGroups"  [userStories]="selectedSprint.user_stories">
      </app-user-story-list-one-line>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>

      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Completar o modificar desarrolladores</ng-template>
      <app-developer-list-one-line *ngIf="developers" [developer_punctuations]="assignType === assignTypeByPunctuations || assignType === assignTypeByGroups" [developers]="developers">
      </app-developer-list-one-line>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <mat-step *ngIf="assignType === assignTypeByGroups">
        <ng-template matStepLabel>Generar agrupaciones de historias</ng-template>
        <app-user-story-group *ngIf="selectedSprint.user_stories" [userStories]="selectedSprint.user_stories"></app-user-story-group>
        <div>
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Terminado</ng-template>
      Todos los datos han sido completados.
      <div>
        <button mat-button (click)="getAssignment()">Generar asignación?</button>
        <button mat-button (click)="stepper.reset()">Reiniciar</button>
      </div>
    </mat-step>


  </mat-vertical-stepper>
  <app-assignment-detail-read-only *ngIf = "assignmentOutput" [assignmentByPunctuation]="assignType === assignTypeByPunctuations" [assignment]="assignmentOutput"></app-assignment-detail-read-only>


</div>
