<h1 *ngIf="data.value; else noValue" mat-dialog-title>Editar {{data.valueName}}</h1>
<ng-template #noValue><h1 mat-dialog-title>Adicionar {{data.valueName}}</h1> </ng-template>
<div mat-dialog-content>
  <p>Insertar {{data.valueName}}</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.value" type="{{data.type}}">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.value">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.value" cdkFocusInitial>Ok</button>
</div>